.app-container {
  background: white;
}

.jumbotron-container {
  background: #F9F8FE;
  padding-right: 30px;
  padding-left: 40px;
  padding-bottom: 30px;
}
span {
  font-family: cursive;
}

.jumbo-title {
  margin-top: 175px;
  font-weight: 750;
}

.jumbo-content{
  font-size: x-large;
}

img {
  width: 100%;
  margin-top: 100px;
}

.cards {
  margin-top: -100px;
  padding-right: 30px;
  padding-left: 30px;
}

.cards-2 {
  padding-right: 30px;
  padding-left: 30px;
}

nav {
  padding-right: 30px;
  padding-left: 30px;
}

.footer {
  background: #FAFAFC;
  padding-right: 30px;
  padding-left: 30px;
}

.footer-content {
  font-size: small;
  line-height: 1.5em;
}

.footer-image {
  margin-top: -104px;
  margin-bottom: 4px;
  width: 40%;
}

.footer-social-media {
  margin-top: -104px;
  width: 62%;
  padding-top: 6px;
}

.footer-logo {
  width: 110%;
  margin-top: -118px;
  margin-right: 90px;
}

.footer-container{
  margin-left: 390px;
}